@import '../resets/reset.scss';
@import '../variables.scss';

header {
  box-sizing: border-box;
  background-color: $base-color;
  height: 72px;
  padding: 1rem 2.5rem 1rem 1.25rem;
  font-family: $base-fontFamily;
}

.breweries-main-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.125rem;
  row-gap: 3.125rem;
  justify-content: center;

  background-color: #FFF;
  font-family: $base-fontFamily;
  width: 100%;
  box-sizing: border-box;
  padding: 3.125rem 1rem;

  @media (min-width: 768px) {
    padding: 6.25rem 3.125rem;
  }
}